<div id="contact">
    <h1>Contacto</h1>
        <table>
            <tr>
                <td>
                    <div id="inner_div">
                        <table id="inner_table">
                            <tr>
                                <td><i class="fas fa-phone"></i> &nbsp; +549341XXXXXX</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-at"></i> &nbsp; davidfromeroscozziero@hotmail.com</td>
                            </tr>         
                            <tr>
                                <td><i class="fas fa-map-marker-alt"></i>
                                <div id="address">
                                    Rosario, Argentina<br>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="social"><i class="fab fa-facebook"></i></a>
                                    <a class="social"><i class="fab fa-twitter"></i></a>
                                    <a class="social"><i class="fab fa-instagram"></i></a>
                                    <a class="social"><i class="fab fa-dribbble"></i></a>
                                    <a class="social"><i class="fab fa-medium"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                 <form form action="mailto:davidfromeroscozziero@hotmail.com" method="post" enctype="text/plain">
                        <input type="text" placeholder="Nombre" required>
                        <input type="email" placeholder="Email" required><br>
                        <textarea placeholder="Mensaje" required rows="5"></textarea><br>
                        <button class="btn_one">Enviar</button>
                    </form> 
                </td>
            </tr>
        </table>
  </div>
